---
import PlotFigure from "../../components/PlotFigure.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../../assets/penguins.json";

const penguinsChinstrap = penguins.filter(({ species }) => species === "Chinstrap");
---

<div>
  <h1>Les penguins Chinstrap</h1>
  <PlotFigure
    options={{
      grid: true,
      color: { legend: true },
      marks: [
        Plot.dot(penguinsChinstrap, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
          fill: "species",
          title: (d) => `${d.species}\n${d.island}`,
        }),
      ],
    }}
  />
</div>
