---
import penguins from "../../assets/penguins.json";
import Layout from "../../layouts/Layout.astro";
import GraphicSpecies from "../../components/GraphicSpecies.astro";

const penguinsAdelie = penguins.filter(({ species }) => species === "Adelie");
---

<Layout>

  <h1 class="text-2xl mb-3">Les penguins Adelie</h1>
  <GraphicSpecies species="Adelie" />
</Layout>
